.generalMobileNav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
.mobileNavLink{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .userName{
        margin-bottom: 40px;
        -webkit-box-shadow:2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding:6px 5px;
    margin-left:-3px;
        

        h1{
            font-size: 18px;
        }
        span{
            font-size: 12px;
        }
    }
    li{
        font-weight: 600;
    }
}
.user{
    display: flex;
    justify-content: space-between; 
    padding: 5px 10px;
    border-radius: 5px;
    align-items: center;
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px;
    color: black;
}
}